.bg-login{
    background: linear-gradient(to bottom right, #68a9d8, #f5e6d0); 
}

.custom-container {
    max-width: 38rem; 
    margin: 2.5rem auto; 
    padding: 1.5rem; 
}

.custom-button {
    max-width: 28rem;
    background-color: #f4f8f7; 
    color: #01497c; 
    padding: 0.5rem 1rem; 
    outline: none; 
    transition: background-color 0.2s ease-in-out; 
    font-weight: bold; 
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.5); 
    &:hover {
        background-color: #bdbdbd;
    }
    &:focus {
        outline: 2px solid #bdbdbd; 
    }
}
/* LoginForm.css */
.input-field {
    background-color:white;
    width: 100%;
    padding: 8px 12px;
    border: 1px solid #d1d5db; 
    outline: none;
    transition: border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.input-field:focus {
    border-color: #3b82f6; 
    box-shadow: 0 0 4px rgba(59, 130, 246, 0.5); 
}

.input-field::placeholder {
    color: #9ca3af; 
}
