.bg-signup {
  background: linear-gradient(
    to bottom right,
    #68a9d8,
    #f5e6d0
  ); /* Adjust colors */
}

.custom-container {
  max-width: 600px;
  margin: 2.5rem auto;
  padding: 1.5rem;
}

.input-field {
  background-color: white;
  width: 100%;
  padding: 8px 12px;
  border: 1px solid #d1d5db;
  border-radius: 6px;
  outline: none;
  transition: border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.input-field:focus {
  border-color: #3b82f6;
  box-shadow: 0 0 4px rgba(59, 130, 246, 0.5);
}

.input-field::placeholder {
  color: #9ca3af;
}

.custom-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 1rem;
}

.input-field {
  width: 100%;
  padding: 8px 12px;
  border: 1px solid #d1d5db;
  border-radius: 6px;
  outline: none;
  transition: border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.input-field:focus {
  border-color: #3b82f6;
  box-shadow: 0 0 4px rgba(59, 130, 246, 0.5);
}

.input-field::placeholder {
  color: #9ca3af;
}

.custom-select {
  width: 100%;
  padding: 8px 32px 8px 12px;
  background-color: white;
  border: 1px solid #d1d5db;
  border-radius: 6px;
  outline: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  appearance: none;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 24 24' fill='none' stroke='%2301497c' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpolyline points='6 9 12 15 18 9'%3E%3C/polyline%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 16px;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.05);
}

.custom-select:hover {
  background-color: #f0f7ff; /* Light blue hover state */
  border-color: #9cb3c9;
}

.custom-select:focus {
  background-color: #01497c;
  color: white;
  border-color: #3b82f6;
  outline: 2px solid #3b82f6;
  /* Change arrow color for better visibility when focused */
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 24 24' fill='none' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpolyline points='6 9 12 15 18 9'%3E%3C/polyline%3E%3C/svg%3E");
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 1.5rem;
}

.row-group {
  display: flex;
  gap: 1rem;
  margin-bottom: 1.5rem;
}

.row-group > div {
  flex: 1;
}
.custom-button {
  max-width: 28rem;
  background-color: #f4f8f7;
  color: #01497c;
  padding: 0.5rem 1rem;
  outline: none;
  transition: background-color 0.2s ease-in-out;
  font-weight: bold;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);

  &:hover {
    background-color: #c2a87d;
  }
  &:focus {
    outline: 2px solid #bdbdbd;
  }
}
.custom-button {
  z-index: 9999;
  position: relative;
}
