.settings-container {
    width: 600px;  /* Adjust based on your needs */
    padding: 15px;
    top: 80px; /* Space from the top */
    background-color: #d9d9d9; /* Light background */
    border-radius: 12px; /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Soft shadow */
    text-align: left;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, sans-serif;
    position: relative;
  }