.contact-container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .contact-container h1 {
    color: #333;
    font-size: 2rem;
    margin-bottom: 20px;
  }
  
  .contact-info {
    text-align: left;
    margin-top: 20px;
  }
  
  .contact-info h2 {
    color: #444;
    font-size: 1.3rem;
    margin-bottom: 5px;
  }
  
  .contact-info p {
    font-size: 1
  }
  .notif {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    margin: 10px 0;
  }
  .notif.unread {
    background-color: #f9f9ff;
  }
  .notif.read {
    background-color: #eee;
  }
  