/* Container and layout styles */
.event-page-container {
    margin: 0 auto;
    padding: 24px;
  }

.event-page-title {
  font-weight: bold;
  font-size:xX-large;
  color: gray800;
  text-align: center;
}

.event-page-subtitle {
  font-size: large;
  color:#01497c;
  font-weight:600;
  padding-left: 8px;
  background-color: #c2a87d;
  margin-bottom: 16px;
  border-radius: 9999px;
}

.event-page-item-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 24px;
}

.event-page-item-card {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 16px;
}

.item-block {
  display: block;
  text-decoration: none;
  color: inherit;
}

.item-block-title {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 8px;
  color: #374151;
}

.item-photo {
  width: 100%;
  height: 128px;
  object-fit: contain;
  border-radius: 6px;
  margin-bottom: 8px;
}

.no-img-photo {
  width: 100%;
  height: 128px;
  object-fit: contain;
  border-radius: 6px;
  margin-bottom: 8px;
}
  
.item-block-type {
  font-size: 0.875rem;
  color: #4b5563;
  margin-bottom: 4px;
}

.item-block-status {
  font-size: 0.875rem;
  color: #4b5563;
  margin-bottom: 4px
}

.item-block-genre {
  font-size: 0.875rem;
  color: #4b5563;
  margin-bottom: 4px;
}

.missing-event-items-text {
  color: #6b7280;
}