html,
body {
  margin: 0;
  padding: 0;
}

.bg-image {
  background-image: url("/bobs.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
}
